page-modal_rserv {

ion-title.bg_wht {
    width: 100%;
    float: left;
    background: #fff;
    height: 35px;
}
.cvr_desc {
      width: 90%;
    float: left;
    background: #fff;
    border-radius: 10px;
    height: 50px;
    margin: 16px 0px 0px 16px;
}

.pic_alrt {
    width: 100%;
    float: left;
    height: 36px;
    position: relative;
    overflow: hidden;
}

.pic_alrt img {
    width: 100%;
    height: 100%;
}

.usr_txt {
    width: 100%;
    float: left;
}

.usr_txt h3 {
        width: 100%;
    float: left;
    color: #484848;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
}

.usr_txt p {
       width: 100%;
    float: left;
    color: #a1a0a0;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}
.cvr_desc1 {
      width: 90%;
    float: left;
    background: #fff;
    border-radius: 10px;
    height: auto;
    margin: 16px 0px 0px 16px;
}
.label_nme {
    width: 100%;
    float: left;
}

.label_nme h3 {
        width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.nme_txt {
    width: 100%;
    float: left;
    color: #878585;
}

.nme_txt p {
       width: 100%;
    float: left;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}
.rpt_div{
    width:100%;
    float:left;

}

.cvr_desc2 {
      width: 90%;
    float: left;
    background: #fff;
    border-radius: 10px;
    height: auto;
    margin: 16px 0px 0px 16px;
}
.label_nme1 {
    width: 100%;
    float: left;
}

.label_nme1 h3 {
        width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.nme_txt1 {
    width: 100%;
    float: left;
    color: #878585;
}

.nme_txt1 p {
    width: 46%;
    float: left;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #bababa;
    text-align: center;
    padding: 3px 0;
    margin-right: 6px;
}
.rpt_div1{
    width:100%;
    float:left;

}
.grnd_ylw{
  width: 90%;
    float: left;
    background: #fbd505;
    border-radius: 5px;
    height: auto;
    margin: 16px 0px 0px 16px; 
}
.brdr_cntnt {
    width: 88%;
    float: left;
    border: 1px solid #bababa;
    margin: 16px;
    border-radius: 10px;
}

.brdr_cntnt h3 {
    width: 100%;
    float: left;
    text-align: center;
    margin: 5px 0 3px 0;
    font-size: 15px;
    font-weight: bold;
}

.brdr_cntnt p {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    font-size: 13px;
}

span.spn_resrv {
    width: auto;
    float: none;
    margin: 0 auto;
    font-size: 11px;
    text-transform: capitalize;
    border: 1px solid #bababa;
    display: table;
    padding: 2px 5px;
}
span.spn_resrv1 {
    width: 100%;
    float: none;
    text-align:center;
    font-size: 11px;
    text-transform: capitalize;
    padding: 2px 5px;
}

.grd_dvd {
    width: 100%;
    float: left;
}

.col_lft {
    width: 50%;
    float: left;
     text-align: right;
}

.col_lft h4 {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.col_rght {
    width: 50%;
    float: left;
     text-align: left;
}

.col_rght h5 {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
       margin-top: 1.6rem;
    margin-bottom: 0px;
       
}
}
