page-forgtpwd {
	.content-sec{
		width: 100%;
		flex: left;
		padding:30px;

	}
	.content-sec{
		width: 100%;
        float: left;
	}
	.content-sec .sign{
		width: 100%;
		float: left;
		margin-top: 25px;

	}
	.content-sec .sign .form-sec{
		width: 100%;
		float: left;
	}
	.content-sec .sign .form-sec .list{
		width: 100%;
		float: left;
		margin-bottom: 0px;
	}
	.content-sec .sign .form-sec .list .item{
		width: 100%;
		float: left;
		padding: 0px;
		border:none;
	}
	.content-sec .sign .form-sec .list .item .item-inner{
		border-bottom: 0.55px solid #c8c7cc;
		padding: 0px;
	}
	.content-sec .sign .form-sec .list .item input{
		font-size: 13px;
        margin-top: 0px;
        font-weight: 500;
        font-family: "Josefin Sans";
        letter-spacing: 1px;
	}
	.content-sec .sign .form-sec .list .item .input .text-input{
		padding: 0;
	    margin-right: 0px;
	    width: 100%;
	}
	.content-sec .sign .form-sec .list .item .label{
		margin-bottom: 0px;
        margin-top: 20px;
        color: #a6a6a6;
        font-weight: 700;
        font-family: "Josefin Sans";
        letter-spacing: 1.5px;
        text-transform: uppercase;
	}
	.content-sec .frgtpwd{
		width: 100%;
		float: left;
		padding-top: 20px;
	}
	.content-sec .frgtpwd h3{
		width: 100%;
	    float: left;
	    text-align: right;
	    color: #000;
	    font-size: 15px;
        font-family: "Josefin Sans";
	    font-weight: 500 !important;
	   margin: auto;
	}
	.content-sec .frgtpwd button{
		width: 100%;
		float: left;
		background-color: #000;
		font-weight: 500;
        font-family: "Josefin Sans";
        margin: 20px auto;
	}
	.content-sec .frgtpwd .register{
		width: 100%;
	    float: left;
	    text-align: center;
	    color: #a6a6a6;
	    font-size: 15px;
        font-family: "Josefin Sans";
	    font-weight: 500 !important;
	    margin:auto;
	}
	.content-sec .frgtpwd .register span{
		color: #000000;
	}
	.main{
		width: 100%;
		float: left;
		text-align: center;
		padding-top: 10vh;

	}
	.main .image{
		width: 100%;
	    border-radius: 50%;
	    margin: auto;
	    text-align: center;
	    
	}
	.main .image img{
		    width: 34%;
    margin-top: 12px;
	}
}
