<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the ChangepwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme-header">
    <ion-title>Change password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main">
    <div class="image">
      <img src="assets/img/logo.png">
    </div>
  </div>
  <div class="content-sec">
    <div class="sign">
     
        <form #changeForm="ngForm" (ngSubmit)="changepass(changeForm)" novalidate>
        <ion-list>

          <ion-item>
            <ion-input type="password" minlength="5" placeholder="Enter your Old Password" [(ngModel)]="data.password"  name='password' required #password="ngModel"></ion-input>
          </ion-item>
         <ion-label class="alert alert-danger" color="danger">
        <div *ngIf="password.errors && (password.dirty || password.touched)">
        <div [hidden]="!password.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="password.errors && (password.dirty || password.touched)" >
       <div [hidden]="!password.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
   </ion-label>  
               
            <ion-item>
                  <ion-input type="password" minlength="5" placeholder="Enter your New Password" [(ngModel)]="data.newpassword" name='newpassword' required #newpassword="ngModel" ></ion-input>
                          
          </ion-item>
             <ion-label class="alert alert-danger" color="danger">
    <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
       <div [hidden]="!newpassword.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" >
       <div [hidden]="!newpassword.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
  </ion-label>

          <ion-item>
    <ion-input type="password" minlength="5" placeholder="Confirm Password" [(ngModel)]="data.conpassword" name='conpassword' required #conpassword="ngModel"></ion-input>
  </ion-item>
             <ion-label class="alert alert-danger" color="danger">
    <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
       <div [hidden]="!conpassword.errors.required" >
         Password is required
        </div>
    </div>
    <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)" >
       <div [hidden]="!conpassword.errors.minlength" >
          Minimum length 5 character 
        </div>
    </div>
   </ion-label>
        </ion-list>
            <div class="frgtpwd">
   <button class="custom_btn" color="yellow" [disabled]="!changeForm.form.valid" style="text-transform: uppercase;" ion-button round>Submit</button>
</div>
      </form>
    </div>
    </div>
</ion-content>
