page-notification {
    .notification h2 {
        text-transform: uppercase;
        font-weight: 500;
    }
    .notification button{
        border-radius: 0 !important;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}
